{{ define "content" }}
<h1>Sample TodoApp</h1>

<a href="/todos/new"> <div class="mx-2 btn btn-outline-success btn-sm">Create</div></a>
<hr>

{{ range .Todos }}
<div class="content">
  <div class="row align-items-center justify-content-center">
    <div class="mx-2">{{ .Content }}</div>
    <a href="/todos/edit/{{.ID}}"><div class="mx-2 btn btn-outline-primary btn-sm">Edit</div></a>
    <a href="/todos/delete/{{.ID}}"><div class="mx-2 btn btn-outline-danger btn-sm">Delete</div></a>
  </div>
</div>
<hr>
{{end}}
{{end}}
